
.container{
   display: flex;
  align-items: center;
  justify-content: center;
}

.counter{
   align-items: center;
   justify-content: center;
   display: flex;
   width: 500px;
   height: 550px;
   background-color: rgba(51, 238, 131, 0.47);


}
button{

  display: inline-block;
  margin: 25px 25px;
  padding: 5px 5px;
  border-radius: 10px;
background: linear-gradient(to right, #F6EFD2, #CEAD78);
}

